{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}
    <h2>Home page</h2>
    <p><a href={{ url_for('user.register') }}>Register</a></p>
    <p><a href={{ url_for('user.login') }}>Sign in</a></p>
    <p><a href={{ url_for('main.home_page') }}>Home Page</a> (accessible to anyone)</p>
    <p><a href={{ url_for('main.user_page') }}>User Page</a> (login_required: member@example.com / Password1)</p>
    <p><a href={{ url_for('main.admin_page') }}>Admin Page</a> (roles_required: admin@example.com / Password1)</p>
    <p><a href={{ url_for('user.logout') }}>Sign out</a></p>
{% endblock %}
